#include <input/processors.dtsi>

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        mouse_movement {
            layers = <0 1 2 4>;
            input-processors = <&zip_xy_scaler 1 2>
                               <&zip_xy_to_mouse_mapper>;
        };

        scrolling {
            layers = <3>;
            input-processors = <&zip_xy_scaler 1 1>
                               <&zip_xy_to_scroll_mapper>;
        };
    };
};
